<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<body>
<section layout:fragment="content">
  <div class="container text-center">
    <h1>Welcome to Storage Sensei!</h1>
    <h3><a th:href="@{/lists/all}" class="btn btn-info" role="button">Lists</a></h3>
    <h3><a th:href="@{/login}" class="btn btn-info" role="button">Login</a></h3>
    <h3><a th:href="@{/register}" class="btn btn-info" role="button">Register</a></h3>
  </div>
</section>
</body>
</html>