<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<body>
<section layout:fragment="content">
  <div class="container text-center">
    <div>
      <h1>User Registration - Sign Up</h1>
    </div>
    <form th:action="@{/register_user}" th:object="${user}"
          method="post" style="max-width: 600px; margin: 0 auto;">
      <div class="m-3">
        <div class="form-group row">
          <label class="col-4 col-form-label">E-mail: </label>
          <div class="col-8">
            <input type="email" th:field="*{username}" class="form-control" required
                   minlength="5" maxlength="255"/>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-4 col-form-label">Password: </label>
          <div class="col-8">
            <input type="password" th:field="*{password}" class="form-control" required
                   minlength="6" maxlength="100"/><!-- required minlength="6"-->
          </div>
        </div>

        <div class="form-group row">
          <label class="col-4 col-form-label">First Name: </label>
          <div class="col-8">
            <input type="text" th:field="*{firstName}" class="form-control"
                   required minlength="2" maxlength="50"/>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-4 col-form-label">Last Name: </label>
          <div class="col-8">
            <input type="text" th:field="*{lastName}" class="form-control"
                   required minlength="2" maxlength="50"/>
          </div>
        </div>

        <div>
          <button type="submit" class="btn btn-primary">Sign Up</button>
        </div>
      </div>
    </form>
  </div>
</section>
</body>
</html>